.rat-menu-item-selected {
	background-color:rgba(128, 128, 128, 0.3);
}

.sub-panel-header {
	background-color: rgb(255, 255, 255);
	background: none #fff !important;
	padding-left: 2px;
	color: rgb(0, 0, 0);
}

.rat-filter-panel {
	border-bottom: 1px solid rgb(197, 197, 197);
}

.x-grid-row-summary .x-grid-cell-inner {
	font-weight: bold;
}

.plain-menu-item a.x-menu-item-link {
	padding-left: 4;
}

.x-tree-icon { 
	display: none !important; 
}


.x-tip {
	width: auto !important;
} 

.x-tip-body {
	width: auto !important;
} 

.x-tip-body span {
	width: auto !important;
}
 
 table.factors_table td {
	white-space: nowrap;
	font: 11px tahoma,arial,verdana,sans-serif;
	padding: 4px;
}

table.factors_table td.country, table.factors_table td.event_type {
	white-space: nowrap;
	font: 13px tahoma,arial,verdana,sans-serif;
	font-weight: bold;
	padding: 4px;
}

table.factors_table td.country_factor, table.factors_table td.event_type_factor {
	white-space: nowrap;
	font: 11px tahoma,arial,verdana,sans-serif;
	font-weight: bold;
	padding: 4px;
}

table.factors_table td.coefficient_override {
	color: #C00000;
	font-weight: bold;
}

#external_factors_container-body {
	overflow: auto;
}