<div class="page-header">
    <h3>Subscribing using SMS</h3>
</div>

        <p>
            Send SMS to +44 20 3095 4390 with your location only e.g.<br/>

            <pre>London UK</pre>

            You should get a confirmation when your subscription has been received.
        </p>

<div class="page-header">
    <h3>Reporting an incident using SMS</h3>
</div>

        <p>
            Send SMS to +44 1288 255116 with a location, incident e.g.
            <pre>Kew UK, Attack has happened</pre>

            The formatting of these messages (I.e. the comma in the second one) is currently important

            TIP: If your location is recognised in the web version edit box it will be recognised on the SMS interface.

        </p>
